body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overscroll-behavior: none;
  font-family: 'Oswald', sans-serif;
}

html {
  scroll-behavior: smooth;
}

